:root
{
    --white--color: #f5f5fa;
    --black--color: :black;
    --text--color: #333;
    --main--color: #8f8fde;
    --table--color: #dfdada;
    --error--color: rgb(255, 0, 0); 
}
body,html
{
   width: 100vw;
   height: 100vh;
   
}
body
{
    background: linear-gradient(180deg,var(--main--color),rgb(211, 187, 187));
    background-repeat: no-repeat;
}


