.status
{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: var(--header-color);
}
.status-list
{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.list-item
{
    font-size: 15px;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}
.--page-in,.--page-out
{
    display: inline-block;
    height: 15px;
    border-radius: 10rem;
    color: var(--white-color);
    font-size: 0.8rem;
    font-weight: bold;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.--page-in:hover,.--page-out:hover
{
    color: black;
}
.--page-in::after
{
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,var(--header-color),var(--text-main-color));
    z-index: -1;
    border-radius: 10rem;
    transition: 0.3s ease all;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 500ms;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
.--page-out::after
{
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,var(--red-color),var(--header-color));
    z-index: -1;
    border-radius: 10rem;
    transition: 0.3s ease all;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform 500ms;
    position: absolute;
    left: 0;
    top: 0;
}
.--page-out:hover::after
{
    transform: scale(1, 1);
    transform-origin: top right;
}
.--page-in:hover::after
{
    transform: scale(1, 1);
    transform-origin: top left;
}
.body
{
    display: flex;
}
.tool_bar
{  
    width: 130px;
    height: 692px;
    background-color: var(--tool-bar-color) ;
}
.tool_bar-list
{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}
.t-list-item
{
    padding: 12px;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--white-color);
    cursor: pointer;
}
.t-list-item:hover
{
    border-bottom: 1px solid var(--white-color);
}
.info
{
    width: 100%;
    height: 692px;
    background-color: var(--white-color);
}